.main-footer{
     background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252,1) 100%);
     display: flex;
     margin-top: auto;
     justify-content: center;
     align-items: center;
     font-size: 1em;
     color: white;
     height: 50px;
}

